.git
.github
.husky
.pnpm-store
docs
apps/web
apps/api/docker
apps/api/docker-compose.yml
node_modules
**/node_modules
**/.next
**/.turbo
**/dist
**/coverage
**/.vercel
**/.env
**/.env.local
**/.env.*
!**/.env.example
